@use 'src/styles/mixins.scss';
@import 'src/styles/_globals.scss';

.container {
  @include mixins.flex-mobile-column;
  display: flex;
  border-radius: var(--border-radius);
  background-color: var(--theme-3);
  padding: 24px;
  margin: 24px 0;
}