@use 'src/styles/mixins.scss';
@import 'src/styles/_globals.scss';

.container {
  @include mixins.flex-mobile-column;
  display: flex;
  border: var(--theme-border);
  border-radius: var(--border-radius);
  background-color: var(--theme-4);
  padding: 40px;
  margin: 0 6px;
  @include mixins.media-sm() {
    padding: 10px;
  }
}

.avatarContainer {
  margin-right: 40px;
  @include mixins.media-sm() {
    margin-right: 0;
    align-self: center;
  }
}

.infoContainer {
  flex: 2 1 0;
}
