@import './_globals.scss';
@import './mixins.scss';

body {
  margin: 0;
}

button {
  appearance:none;
  -webkit-appearance:none;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

input {
  border: none;
  caret-color: var(--theme-1);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  :hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.8;
  }
}

/* These are specified as global styles by the design document.
  Styles are also available as mixins in the mixins stylesheet */

h1 {
  @include h1;
}

h2{
  @include h2;
}

h3{
  @include h3;
}

h4{
  @include h4;
}

p {
    @include body;
}
