:root {
  --h1-font: 'Space Mono', sans-serif;
  --h1-weight: bold;
  --h1-size: 26px;
  --h1-lh: 38px;

  --h2-font: 'Space Mono', sans-serif;
  --h2-weight: bold;
  --h2-size: 22px;
  --h2-lh: 33px;

  --h3-font: 'Space Mono', sans-serif;
  --h3-weight: normal;
  --h3-size: 16px;
  --h3-lh: 24px;

  --h4-font: 'Space Mono', sans-serif;
  --h4-weight: normal;
  --h4-size: 13px;
  --h4-lh: 20px;

  --body-font: 'Space Mono', sans-serif;
  --body-weight: normal;
  --body-size: 15px;
  --body-lh: 25px;

  --max-width: 768px;
  --border-radius: 10px;
}

.theme_light {
  --theme-1: #0079FF;
  --theme-2: #697C9A;
  --theme-3: #4B6A9B;
  --theme-4: #2B3442;

  --theme-5: #F6F8FF;
  --theme-6: #FEFEFE;

  --text-color: #FEFEFE;
  --text-color-2: #2b3442;
  --theme-border: 2px solid #2b3442;
}

.theme_dark {
  --theme-1: #0079FF;
  --theme-2: #FFFFFF;
  --theme-3: #141D2F;
  --theme-4: #1E2A47;
  /* light theme has two extra colors, so repeat colors for dark theme */
  --theme-5: #1E2A47;
  --theme-6: #141D2F;

  --text-color: rgb(255, 255, 255);
  --text-color-2: rgb(255, 255, 255);
  --theme-border: 2px solid #141D2F;
}