@use 'src/styles/mixins.scss';
@import 'src/styles/_globals.scss';

.header {
  display: flex;
  justify-content: space-between;
  font-family: var(--h1-font);
  width: 100%;
  margin: 20px 0;
}

.title {
  @include mixins.h1;
  color: var(--text-color-2);
  text-transform: lowercase;
  margin-left: 6px;
}

.button {
  @include mixins.h2;
  color: var(--text-color-2);
  @include mixins.flex-center;
  flex-direction: row;
  font-weight: normal;
  font-size: small;
  background-color: var(--theme-6);
  text-transform: uppercase;

  &.lightmode{
    opacity: 0.8;
    &:hover {
      opacity: 1.0;
    }
  }

  img {
    margin-left: 18px;
  }
}