@use 'src/styles/mixins.scss';
@import 'src/styles/_globals.scss';

.app {
  @include mixins.flex-center;
  background-color: var(--theme-6);
  width: 100%;
  margin: auto;
}

.maxWidth {
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
  @include mixins.media-sm() {
    height: auto;
  }
}